You added:
</table>

<p><%= @new_product.name  %></p>
<p><%= @new_product.price %></p>
<p><%= @new_product.description %></p>
<p><%= @new_product.remaining %></p>
<p><%= @new_product.image %></p>
<a href="/products">Go back to products home</a>

