<div><a href="/products/new"> create new product !!!</a></div>
<table class ="table table-striped table-bordered">

  <tr>
     <th>Products</th>
     <th>Prices</th>
     <th>Descriptions</th>
     <th>Remaning</th>
     <th>image</th>
     <th colspan= "3"></th>
   </tr>
   <tr>
 <% @products.each do |product| %>
    <td><a href="/products/<%= product.id %>"> <%= product.name %>  </a></td>
    <td><%= product.price %> </td>
    <td><%= product.description %> </td> 
    <td><%= product.remaining %> </td>
    <td><%= product.image %></td>
    <td><%= link_to "Show", "/products/#{product.id}", method: :get %></td>
    <td><%= link_to "Edit", "/products/#{product.id}/edit", method: :get %></td>
    <td><%= link_to "Delete", "/products/#{product.id}", data: {confirm: "Are you sure?"}, method: :delete  %></td>
  </tr>
<% end %>
</table>


