<tr>
   Message: <p><%= @product.sale_message %> </p>
    Price: <p><%= @product.price %> </p>
    Tax: <p><%= @product.tax %> </p>
    Total: <p><%= @product.total %> </p> 
</tr>
<%= form_tag "/products/#{@product.id}", method: :delete do %>
 <input type="submit", value = "Delete product!">
 <% end %>