   Message: <p><%= @product.sale_message %> </p>
   <!-- <p>Price: <%= @product.price %> Tax: <%= @product.tax %> </p>
  <p>Total: <%= @product.total %> <%= @product.supplier.name %></p> -->
    <%= form_tag "/orders", method: :post do %>
    Quantity: <input type="text" name= "quantity">
    Product ID: <input type="text" name="product_id" value="<%= @product.id %>">
    Checkout: <input type="submit" value="checkout">
    <% end %>
    <p><% @product.images.each do |image| %></p>
       <img class = "size" src = "<%= image.url %>">
      <% end %>
<%= form_tag "/products/#{@product.id}", method: :delete do %>
 <input type="submit" value = "Delete product!">
 <% end %>