<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar-form navbar-right right">
  <% if !current_user %>
      <a class = "right" href="/signup">Sign up for an account</a>
      <a class = "right" href="/login">log in</a>
      <% else %>
      <a class = "right" href="/logout">log out</a>
      <% end %>
   <%= form_tag "/search", method: :post do %>
        <p class="right">Search: <input type="text" name="search">
        <input type="submit" value="Submit" >
        </p>
      <% end %>
      
      </div>
     <% flash.each do |name, message| %>
     <div class ="alert alert-<%= name  %> alert-
     dismissible"  role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <%= message %></div>
     <% end %>
     <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
